.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160vh;
}

.formSt {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.essential {
  color: red;
  margin-top: 2rem;
}

.choice {
  margin-bottom: 2rem;
}

.labelSt {
  margin-bottom: 5px;
  margin-top: 2rem;
}

.pst {
  color: red;
  display: inline;
}

.inputSt {
  height: 2.5rem;
}

.checkPwSt {
  margin: 0;
  padding-top: 10px;
  color: red;
}

.checkOverlapBtn {
  margin-top: 10px;
}

.selectSt {
  width: 150px;
}

.choicepst {
  display: inline;
}

.btn {
  color: white;
  background-color: #4b7bec;
  height: 2.5rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .container {
    height: 100%;
  }

  .formSt {
    width: 90%;
  }
}

@media (min-width: 1339px) {
  .container {
    padding-top: 50px;
    height: 100%;
  }

  .formSt {
    height: 100%;
  }
}

@media (min-width: 2559px) {
  .container {
    padding-top: 150px;
    height: 100%;
  }

  .formSt {
    height: 100%;
  }

  .essential {
    margin-top: 3rem;
  }
  .choice {
    margin-top: 3rem;
  }

  .labelSt {
    margin-bottom: 10px;
    margin-top: 3rem;
  }

  .inputSt {
    font-size: 1.5rem;
    height: 3rem;
  }

  .checkOverlapBtn {
    margin-top: 15px;
  }

  .btn {
    height: 3rem;
  }
}
