.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
}

.formSt {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelSt {
  margin-bottom: 5px;
  margin-top: 2rem;
}

.inputSt {
  height: 2.5rem;
}

.textSt {
  resize: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4b7bec;
  height: 2.5rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .container {
    height: 100%;
  }

  .formSt {
    width: 70%;
  }
}